@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Raleway:wght@300&display=swap");

@import url('dmg.css');
@import url('mgb.css');
@import url('sgb.css');
@import url('cgb.css');
@import url('agb.css');

html, body {
  margin: 0;
  padding: 0;
  background: #fff !important;
  font-family: "Raleway", sans-serif;
}

canvas {
  border: 0px none;
  background-color: black;
  vertical-align: middle;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#demo-roms a {
  text-decoration: none;
}

#demo-roms > li:not(:last-child) {
  margin-bottom: 0.25rem;
}

#spinner {
  margin: 0;
  padding: 0;
}
#spinner .spinner {
  height: 50px;
  width: 50px;
  margin: 0px auto;
  animation: rotation 0.8s linear infinite;
  border-left: 10px solid #0096f0;
  border-right: 10px solid #0096f0;
  border-bottom: 10px solid #0096f0;
  border-top: 10px solid #6400c8;
  border-radius: 100%;
  background-color: #c864fa;
}
#spinner .info {
  text-align: center;
  color: #fff;
  margin-top: 1rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#system {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/noise.png);
}
#system #display {
  position: relative;
}
#system #display #spinner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translate(0, -50%);
}
#system #controls {
  touch-action: none;
}
#system #controls,
#system #controls .button {
  user-drag: none;
  user-select: none;
  touch-action: none;
}
#system #controls .button {
  z-index: 1000;
  touch-action: none;
  background-color: var(--button-bg);
  box-shadow: 0 0 0.2vmin 0.5vmin var(--button-shadow), 0 0 1.2vmin 0.5vmin var(--button-shadow-inset) inset;
  transition: all 0.15s ease-in-out;
}
#system #controls .button:hover {
  background-color: var(--button-bg-hover);
}
#system #controls .button::after {
  cursor: default;
  user-select: none;
  pointer-events: none;
}
#system #controls .button.active {
  background-color: var(--button-bg-active);
  box-shadow: none;
}
#system #controls #aButton,
#system #controls #bButton {
  display: block;
  width: 10vmax;
  height: 10vmax;
  border-radius: 50%;
  position: absolute;
  font-family: "Open Sans Condensed", sans-serif;
}
#system #controls #aButton::after,
#system #controls #bButton::after {
  color: var(--button-label-color);
}
#system #controls #aButton::after {
  content: "A";
}
#system #controls #bButton::after {
  content: "B";
}

#system #controls #startButton,
#system #controls #selectButton {
  background-color: var(--start-button-bg);
  position: absolute;
  display: block;
  border-radius: 5vmin;
}
#system #controls #startButton:hover,
#system #controls #selectButton:hover {
  background-color: var(--start-button-bg-hover);
}
#system #controls #startButton.active,
#system #controls #selectButton.active {
  background-color: var(--start-button-bg-active);
}
#system #controls #startButton::after,
#system #controls #selectButton::after {
  font-family: "Raleway", sans-serif;
  font-size: 5vmin;
  color: var(--start-button-label);
}
#system #controls #startButton::after {
  content: "Start";
}
#system #controls #selectButton::after {
  content: "Select";
}
#system #controls #dpad {
  position: absolute;
}
#system #controls #dpad .button {
  background-color: var(--dpad-bg);
}
#system #controls #dpad .button:hover {
  background-color: var(--dpad-bg-hover);
}
#system #controls #dpad .button.active {
  background-color: var(--dpad-bg-active);
}
#system #controls #dpad:before {
  content: "";
  position: absolute;
  background-color: var(--dpad-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 0 0.2vmin 0.5vmin var(--dpad-bg-shadow);
  border-radius: 1.5vmin;
}
#system #controls #dpad:after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--dpad-dimple-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 50%;
  box-shadow: 0 0 0.2vmin 0.5vmin var(--dpad-dimple-shadow) inset;
}
#system #controls #dpad #leftButton,
#system #controls #dpad #rightButton,
#system #controls #dpad #upButton,
#system #controls #dpad #downButton {
  position: absolute;
}
#system #controls #dpad #upButton,
#system #controls #dpad #downButton {
  left: 50%;
  transform: translate(-50%, 0);
}
#system #controls #dpad #leftButton,
#system #controls #dpad #rightButton {
  top: 50%;
  transform: translate(0, -50%);
}
#system #controls #dpad #leftButton {
  left: 0;
  border-radius: 2vmin 0 0 2vmin;
  clip-path: inset(-2vmin 2vmin -2vmin -2vmin);
}
#system #controls #dpad #rightButton {
  right: 0;
  border-radius: 0 2vmin 2vmin 0;
  clip-path: inset(-2vmin -2vmin -2vmin 2vmin);
}
#system #controls #dpad #upButton {
  top: 0;
  border-radius: 2vmin 2vmin 0 0;
  clip-path: inset(-2vmin -2vmin 2vmin -2vmin);
}
#system #controls #dpad #downButton {
  bottom: 0;
  border-radius: 0 0 2vmin 2vmin;
  clip-path: inset(2vmin -2vmin -2vmin -2vmin);
}
#system #controls #menuButton {
  position: absolute;
  width: 9vmin;
  height: 9vmin;
  border-radius: 9vmin;
}
#system #controls #menuButton > span {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 65%;
  height: 1vmin;
  border-radius: 1vmin;
}
#system #controls #menuButton > span:not(:last-child) {
  margin: 0 auto 1vmin auto;
}
#system #controls #menuButton > span:first-child {
  margin-top: 2vmin;
}

@media (max-width: 719px) and (orientation: portrait) {
  #demo-roms {
      font-size: 1.3rem;
  }

  #demo-roms a {
    color: #fff;
  }

  #system {
    background-color: var(--system-color);
  }

  #system {
    display: flex;
    flex-direction: column;
  }
  #system #display {
    flex: 1 1 50vh;
  }
  #system #display #canvas {
    display: block;
    margin: auto;
    width: 100% !important;
    max-width: 50vh;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: auto !important;
  }
  #system #controls {
    flex: 1 1 50vh;
    position: relative;
  }
  #system #controls #aButton {
    bottom: 55%;
    right: 5%;
  }
  #system #controls #bButton {
    bottom: 45%;
    right: calc(20vmin + 10%);
  }
  #system #controls #startButton,
  #system #controls #selectButton {
    bottom: 20%;
    width: 20vmin;
    height: 5vmin;
  }
  #system #controls #startButton::after,
  #system #controls #selectButton::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 130%);
  }
  #system #controls #startButton {
    right: calc(50% - 25vmin);
  }
  #system #controls #selectButton {
    left: calc(50% - 25vmin);
  }
  #system #controls #dpad {
    width: 40vw;
    height: 40vw;
    top: calc(50% - 30vmin);
    left: 5%;
  }
  #system #controls #dpad:before {
    width: 12vw;
    height: 12vw;
  }
  #system #controls #dpad:after {
    width: 8vmin;
    height: 8vmin;
  }
  #system #controls #dpad #upButton,
  #system #controls #dpad #downButton {
    width: 10vmin;
    height: 16vmin;
  }
  #system #controls #dpad #leftButton,
  #system #controls #dpad #rightButton {
    width: 16vmin;
    height: 10vmin;
  }
  #system #controls #menuButton {
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #menu {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 2.5vw;
    right: 2.5vw;
    left: 2.5vw;
    padding: 5vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2.5vw;
    max-height: calc(100vh - 15vw);
    overflow: auto;
  }
}
@media (max-height: 719px) and (orientation: landscape) {
  #demo-roms {
    font-size: 1.3rem;
  }

  #demo-roms a {
    color: #fff;
  }

  #system {
    background-color: var(--system-color);
  }

  #system #display,
  #system #controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #system #display #canvas {
    display: block;
    margin: auto;
    width: 100% !important;
    max-width: min(50vw, 100vh);
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: auto !important;
  }
  #system #controls #aButton {
    top: 43vh;
    right: 2%;
    transform: translate(0, -50%);
  }
  #system #controls #bButton {
    top: 58vh;
    right: calc(25vw - calc(20vmax / 2) - 2%);
    transform: translate(0, -50%);
  }
  #system #controls #startButton,
  #system #controls #selectButton {
    width: 16vw;
    height: 3vw;
    left: 4.5vw;
    text-align: center;
  }
  #system #controls #startButton {
    bottom: 9vw;
  }
  #system #controls #selectButton {
    bottom: 3vw;
  }
  #system #controls #dpad {
    z-index: 1000;
    width: 20vw;
    height: 20vw;
    bottom: 55vmin;
    left: 2.5vw;
    transform: translate(0, 50%);
  }
  #system #controls #dpad:before {
    width: 6vw;
    height: 6vw;
  }
  #system #controls #dpad:after {
    width: 4vw;
    height: 4vw;
  }
  #system #controls #dpad #upButton,
  #system #controls #dpad #downButton {
    width: 5vw;
    height: calc(7vw + 2vmin);
  }
  #system #controls #dpad #leftButton,
  #system #controls #dpad #rightButton {
    width: calc(7vw + 2vmin);
    height: 5vw;
  }
  #system #controls #menuButton {
    right: calc(25vw - min(100px, 12.5vmin) - 2%);
    bottom: 5%;
  }

  #menu {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 2.5vw;
    right: 2.5vw;
    left: 2.5vw;
    padding: 5vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2.5vw;
    max-height: calc(100vh - 15vw);
    overflow: auto;
    max-width: 50vw;
    margin: auto;
  }
}
@media (min-width: 720px) and (min-height: 720px) {
  html,
  body,
  #system,
  #display {
    width: 100%;
    height: 100%;
  }

  #system #controls {
    display: none;
  }
  #system #display #canvas {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 100vmin;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

  #menu {
    padding: 5vw;
    padding-top: 0;
  }
}
