.isDMG {
  --system-color: #c4bfbf;

  --button-bg: hsl(324, 91%, 54%);
  --button-bg-hover: hsl(324, 91%, 66.9%);
  --button-bg-active: hsl(324, 91%, 39%);
  --button-shadow: hsl(0, 3.6%, 21.6%);
  --button-shadow-inset: hsl(0, 3.9%, 35.5%);

  --start-button-bg: #807b7f;
  --start-button-bg-hover: #8e8a8b;
  --start-button-bg-active: #757172;
  --start-button-shadow: #423f3f;
  --start-button-shadow-inset: #8f898b;
  --start-button-label: #48448c;

  --dpad-bg: #1c1c1d;
  --dpad-bg-hover: #272728;
  --dpad-bg-active: #191818;
  --dpad-bg-shadow: #131313;
  --dpad-shadow-inset: #605f64;
  --dpad-dimple-bg: #1b1b1c;
  --dpad-dimple-shadow:  #171717;
}

@media (prefers-color-scheme: dark) {
  /* Play It Loud Deep Black */
  .isDMG:not(.forceLight) {
    --system-color: #2d2c2c;

    --button-bg: #6c6c74;
    --button-bg-hover: #97949b;
    --button-bg-active: #5e5d66;
    --button-shadow: #242528;
    --button-shadow-inset: #cbcdd0;

    --start-button-bg: #a1a9ac;
    --start-button-bg-hover: #c2cecf;
    --start-button-bg-active: #788489;
    --start-button-shadow: #2c2d2a;
    --start-button-shadow-inset: #c7d1d1;
    --start-button-label: #ec6f92;

    --dpad-bg: var(--button-bg);
    --dpad-bg-hover: var(--button-bg-hover);
    --dpad-bg-active: var(--button-bg-active);
    --dpad-bg-shadow: var(--button-shadow);
    --dpad-bg-shadow-inset: var(--button-shadow-inset);
    --dpad-dimple-bg: #787779;
  }

  .isDMG:not(.forceLight) #dpad::after {
    box-shadow: 0 0 0.2vmin 0.5vmin #4d4d4d inset;
  }
}

@media (orientation: landscape) {
  .isDMG #startButton,
  .isDMG #selectButton {
    --start-button-label: #1c1c1c;
  }
}

@media (orientation: portrait) {
  .isDMG #startButton,
  .isDMG #selectButton {
    transform: rotate(-28deg);
  }
}

.isDMG .button.small {
  background-color: var(--start-button-bg);
}
.isDMG .button.small:hover {
  background-color: var(--start-button-bg-hover);
}
.isDMG .button.small.active {
  background-color: var(--start-button-bg-active);
}

@media not (prefers-color-scheme: dark) {
  .isDMG #aButton,
  .isDMG #bButton {
    --button-shadow-inset: #e397c1;
  }
}
.isDMG #aButton,
.isDMG #bButton {
  transform: rotate(-28deg);
}
.isDMG #aButton::after,
.isDMG #bButton::after {
  background-color: var(--start-button-label);
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0%);
  position: absolute;
  height: 30%;
}

.isDMG #aButton::after {
  mask-image: url(../img/front_text.svg#dmgAv);
  -webkit-mask-image: url(../img/front_text.svg#dmgAv);
}
.isDMG #bButton::after {
  mask-image: url(../img/front_text.svg#dmgBv);
  -webkit-mask-image: url(../img/front_text.svg#dmgBv);
}
.isDMG #startButton::after {
  mask-image: url(../img/front_text.svg#dmgSTARTv);
  -webkit-mask-image: url(../img/front_text.svg#dmgSTARTv);
}
.isDMG #selectButton::after {
  mask-image: url(../img/front_text.svg#dmgSELECTv);
  -webkit-mask-image: url(../img/front_text.svg#dmgSELECTv);
}
.isAGB #startButton::after,
.isAGB #selectButton::after {
  aspect-ratio: 5 / 1;
}
